<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<form id="testpay" action="/pay" method="post">
	<table class="table" style="width:100%">
		<tr>
			<th>商户IddddddD222</th>

			<td><input type="text" id="merId" name="merId"></td>
		</tr>
		<tr>
			<th>金额</th>

			<td><input type="text" id="amount" name="amount"></td>
		</tr>


		<tr>
			<td><input style="" type="submit" value="提交"></td>
		</tr>
	</table>
</form>
</body>
</html>